@import 'variables.scss';

body{
    font-family: $open-sans-font;
}

p:nth-child(2){
    font-family: $gotham-bold-font;
    font-size: 3rem;
}

p:nth-child(3){
    font-family: $gotham-book-font;
    font-size: 1rem;
}