@font-face{
    font-family: "Open Sans";
    src: url(/assets/fonts/open-sans.ttf);
    font-family: "Gotham Book";
    src: url(/assets/fonts/gotham-book.otf);
    font-family: "Gotham Bold";
    src: url(/assets/fonts/gotham-bold.otf);
}

$gotham-bold-font: "Gotham Bold";
$gotham-book-font: "Gotham Book";
$open-sans-font: "Open Sans";

$caramel-color: #DE8F75;
$green-1-color: #A5C3C0;
$green-2-color: #32917B;
$blue-1-color: #6B85C1;
$blue-2-button: #5F75AA;
$blue-3-color: #2A5A75;
$black-color: #000000;
$white-color: #FFFFFF;
$gray-1-color: #F2F2F2;
$gray-2-color: #CCCCCC;
$gray-3-color: #EBEBEB;
$gray-4-color: #E3E3E3;
$gray-5-color: #AEB6C1;
$gray-6-color: #ADADAD;
$gray-7-color: #7F7F7F;
$gray-8-color: #686868;
$gray-9-color: rgba(32, 32, 32, 0.6);
$orange-color: #E35442;
$yellow-color: #E0DA9C;
$pink-color: #A9095E;
$brown-color: #A14830;